<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-lg-11 offset-lg-1 col-xxl-9 offset-xxl-2 offset-md-1">
            <div class="row">
                <div class="col-md-3">
                    <div class="row bg-white shadow-sm rounded mb-3">
                        <div class="card-header bg-primary fw-bold text-light mb-2">
                            Cotizador
                        </div>
                        <div class="col-12 mb-2">
                            <label class="text-secondary">Destino</label>
                            <input type="text" class="form-control" placeholder="Ingrese destino" id="" />
                        </div>


                        <div class="col-12 col-md-12 mb-2">
                            <label class="text-secondary"> Fechas</label>
                            <input type="text" class="form-control " [(ngModel)]="bsRangeValue"
                            #daterangepicker="bsDaterangepicker" bsDaterangepicker
                            [bsConfig]="{ rangeInputFormat : 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false, containerClass: 'theme-default' }"
                            [minDate]="minDate">
                        </div>


                        <div class="col-12 col-md-12 mb-2">
                            <label class="w-100 text-secondary" for=""> Habitaciones </label>
                        <div class="dropdown">
                            <button class="btn border form-select  w-100" type="button" data-bs-auto-close="false" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-bed"></i> {{numHab}}
                            &nbsp;&nbsp;&nbsp;&nbsp; <i class="far fa-user"></i> {{personas}}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            </button>

                            <div class="dropdown-menu p-0 text-muted" aria-labelledby="dropdownMenuButton1"
                                style="width: 18rem; z-index: 10;">
                                <div class="card-header bg-primary text-white">
                                    Habitaciones y pasajeros
                                </div>
                                <div class="d-flex justify-content-around my-3">
                                    <div>
                                        <span>Número de habitaciones</span>
                                    </div>
                                    <div class="d-flex justify-content-between w-25">
                                        <a (click)="AddRemoveHab('rm')" [ngClass]="numHab == 1 ? 'disabled' : ''"
                                            class="text-warning"><i class="fas fa-minus-circle"></i></a>
                                        <span>{{numHab}}</span>
                                        <a (click)="AddRemoveHab('add')" [ngClass]="numHab == 8 ? 'disabled' : ''"
                                            class="text-warning"><i class="fas fa-plus-circle"></i></a>
                                    </div>
                                </div>
                                <div *ngFor="let item of habitaciones; index as i" class="px-2">
                                    <h6>Habitación {{i+1}}</h6>
                                    <div class="d-flex py-2">
                                        <div class="d-flex justify-content-between w-50 me-2">
                                            <span>Adultos</span>
                                            <a (click)="addRemoveAdulto(i,'rm')"
                                                [ngClass]=" item.adultos == 1 ? 'disabled' : ''"
                                                class="text-warning" ><i class="fas fa-minus-circle"></i></a>
                                            <span>{{ item.adultos}}</span>
                                            <a (click)="addRemoveAdulto(i,'add')"
                                                [ngClass]=" item.adultos == 5 ? 'disabled' : ''"
                                                class="text-warning" ><i class="fas fa-plus-circle"></i></a>
                                        </div>
                                        <div class="d-flex justify-content-between w-50">
                                            <span>Menores</span>
                                            <a (click)="addRemoveMenor(item,'rm')"
                                                [ngClass]="item.edadmenores.length == 0 ? 'disabled' : ''"
                                                class="text-warning" ><i class="fas fa-minus-circle"></i></a>
                                            <span>{{item.edadmenores.length}}</span>
                                            <a (click)="addRemoveMenor(item,'add')"
                                                [ngClass]="item.edadmenores.length == 3 ? 'disabled' : ''"
                                                class="text-warning" ><i class="fas fa-plus-circle"></i></a>
                                        </div>
                                    </div>
                                    <div *ngIf="item.edadmenores.length > 0">
                                        <div class="d-flex my-2 justify-content-end"
                                            *ngFor="let menor of item.edadmenores; index as e">
                                            <span class="me-2">Edad del menor {{e+1}}</span>
                                            <input type="text" value="0" class="form-control form-control-sm w-25">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div class="col-12 mb-2">
                            <label class="text-secondary">Nacionalidad</label>
                            <select class="form-select w-100" name="select">
                                <option value="value1">Value 1</option>
                                <option value="value2" selected>Value 2</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>
                        <div class="text-center col-12 mb-2">
                            <button class="btn btn-sm btn-outline-primary rounded-pill ">
                                Buscar <i class="ml-2 bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row bg-white shadow-sm rounded mb-3 ">
                        <div class="card border-light mb-2 w-100 rounded p-0">
                            <div class="card-header bg-primary fw-bold text-light">
                                Filtros <i class="bi bi-funnel-fill"></i>
                            </div>
                            <div class="card-body px-3">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="text-secondary">Nombre del hotel</label>
                                        <input type="text" placeholder="Nombre del hotel" class="form-control mb-2" />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            <button class="btn form-select text-start" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#planes"
                                                aria-expanded="false" aria-controls="planes">
                                                Planes disponibles
                                            </button>
                                        </p>
                                        <div class="collapse mb-2" id="planes">
                                            <div class="card card-body">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault"> Directo
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault"> 1 Escala
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckDefault">
                                                    <label class="form-check-label" for="fle54xCheckDefault"> 2 Escalas
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            <button class="btn form-select text-start" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#categorias"
                                                aria-expanded="false" aria-controls="categorias">
                                                Categorías disponibles
                                            </button>
                                        </p>
                                        <div class="collapse mb-2" id="categorias">
                                            <div class="card card-body">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault"> Directo
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault"> 1 Escala
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault"> 2 Escalas
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="text-secondary">Ordenar búsqueda</p>
                                        <select class="form-select mb-2 " name="select">
                                            <option value="value1" selected disabled>Recomendados</option>
                                            <option value="value2">Value 2</option>
                                            <option value="value3">Value 3</option>
                                        </select>
                                        <p>Tipo de reserva</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault2" checked />
                                            <label class="form-check-label text-secondary" for="flexRadioDefault2">
                                                Todas
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault1" />
                                            <label class="form-check-label text-secondary" for="flexRadioDefault1">
                                                Confirmadas
                                            </label>
                                        </div>
                                        <div class="form-check mb-1">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault1" />
                                            <label class="form-check-label text-secondary" for="flexRadioDefault1">
                                                Producto propio
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <label class="text-secondary">Precio</label>
                                        <input type="range" class="form-control-range" id="formControlRange" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="mb-3 d-flex justify-content-between">
                        <div class="text-primary">
                            <span class="tituloServicio"><i class="fas fa-suitcase"></i> Hoteles</span>
                        </div>
                        <div class="text-end">
                            <p class="mb-0">Se encontrarol 200 resultados</p>
                            <small>Fechas: 15/Jun/22 - 17/Jun/22 Habitaciones: 1 | adultos: 2 | menores: 0</small>
                        </div>
                    </div>
                    <div *ngFor="let hotel of hoteles; let i = index" class="mb-3">
                        <div class="">
                            <div class="col-md-12">
                                <div class="card  w-100">
                                    <div class="row">
                                        <div class="col-md-3 pe-0">
                                            <div>

                                                <img src="https://st.depositphotos.com/1020341/4233/i/600/depositphotos_42333899-stock-photo-portrait-of-huge-beautiful-male.jpg"
                                                    class="card-img img-fluid imgResultados" alt="..." />
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="card-body p-2">
                                                        <h5 class="card-title text-primary fw-bold">{{ hotel.nombreHotel }}</h5>
                                                        <small><i class="bi bi-geo-alt-fill"></i>
                                                            {{ hotel.direccion }}</small> <br>
                                                        <i class="bi bi-star-fill text-warning"></i><i
                                                            class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i> <br />
                                                        <div class="d-flex justify-content-between">
                                                            <span>íconos de servicios</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 lineaVertical">
                                                    <div class="card-body p-2">
                                                        <div class="d-flex justify-content-between">
                                                            <small>Precio más bajo: </small>
                                                            <small class="text-primary"><s>$6856.00MXN</s></small>
                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <img src="https://w7.pngwing.com/pngs/741/68/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png"
                                                                height="25" alt="" srcset="">
                                                            <h5 class="card-title fw-bold text-secondary" [tooltip]="khe" containerClass="khe">$5469.50 <small class="text-primary">MXN</small></h5>
                                                        </div>
                                                        <div class="w-100 textoDerecha">
                                                            <small class="w-100 text-primary fw-bold">Habitación</small>
                                                            <br />

                                                            <small class=""><i class="fas fa-info-circle text-info"></i> Todo incluído</small>
                                                            <br />
                                                        </div>
                                                        <div class="text-center my-2">
                                                            <button class="btn btn-outline-primary rounded-pill" routerLink="/booking">
                                                                <b>Reservar ahora</b>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row border-top">
                                        
                                            <div class="col-md-3 col-sm-4">
                                                <button class="btn dropdown-toggle" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                                    aria-expanded="false" aria-controls="collapseExample">
                                                    <img src="https://w7.pngwing.com/pngs/741/68/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png"
                                                        height="20px" alt=""> $10,000.00 <small class="text-primary">MXN</small>
                                                </button>
                                            </div>
                                            <div class="col-md-3 col-sm-4">
                                                <button class="btn dropdown-toggle" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseExample2"
                                                    aria-expanded="false" aria-controls="collapseExample">
                                                    <img src="https://w7.pngwing.com/pngs/741/68/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png"
                                                        height="20px" alt=""> $20,000.00 mxn
                                                </button>
                                            </div>
                                            <div class="col-md-3 col-sm-4">
                                                <button class="btn dropdown-toggle" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseExample2"
                                                    aria-expanded="false" aria-controls="collapseExample">
                                                    <img src="https://w7.pngwing.com/pngs/741/68/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png"
                                                        height="20px" alt=""> $30,000.00 mxn
                                                </button>
                                            </div>
                                            <div class="col-md-2 col-sm-6">
                                                <div class="dropdown">
                                                    <a class="btn dropdown-toggle" href="#" role="button"
                                                        id="dropdownMenuLink1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        Ver más
                                                    </a>

                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                        <li>
                                                            <button class="btn dropdown-toggle" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#collapseExample2" aria-expanded="false"
                                                                aria-controls="collapseExample">
                                                                <img src="https://w7.pngwing.com/pngs/741/68/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png"
                                                                    height="20px" alt=""> $30,000.00 mxn
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button class="btn dropdown-toggle" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#collapseExample" aria-expanded="false"
                                                                aria-controls="collapseExample">
                                                                <img src="https://w7.pngwing.com/pngs/741/68/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png"
                                                                    height="20px" alt=""> $30,000.00 mxn
                                                            </button>

                                                        </li>
                                                        <li><a class="dropdown-item" href="#">Something else
                                                                here</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                                <div class="collapse" id="collapseExample">
                                    <div class="">
                                        <div class="d-flex bg-white ml-0 mb-3 mr-0 py-2">
                                            <div class="col-md-1">
                                                <img src="https://w7.pngwing.com/pngs/741/68/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png"
                                                    height="45" alt="" srcset="">
                                            </div>
                                            <div class="col-md-3">
                                                <h6>Habitación</h6>
                                                <small><i class="fas fa-info-circle text-info"></i> Políticas de cancelación</small>
                                            </div>
                                            <div class="col-md-3">
                                                <span>ROOM ONLY</span> <br>
                                                <small><i class="fas fa-exclamation-circle text-warning"></i>Sujeto a
                                                    disponibilidad</small>
                                            </div>
                                            <div class="col-md-1">
                                                <img src="https://w7.pngwing.com/pngs/741/68/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png"
                                                    height="45" alt="" srcset="">

                                            </div>
                                            <div class="col-md-2">
                                                <h6>$12,000.00MXN</h6>
                                                <small class="text-info"><s>$30,000.00MXN</s></small>
                                            </div>
                                            <div class="col-md-2 d-flex justify-content-center align-items-center">
                                                <input type="submit"
                                                    class="btn btn-sm me-3 btn-outline-secondary rounded-pill"
                                                    value="Reservar"> <i class="fas fa-folder-plus fa-2x text-success"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapseExample2">
                                    <div class="">
                                        <div class="d-flex bg-white ml-0 mb-3 mr-0 py-2">
                                            <div class="col-md-1">
                                                <img src="https://w7.pngwing.com/pngs/741/68/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png"
                                                    height="45" alt="" srcset="">
                                            </div>
                                            <div class="col-md-2">
                                                <h6>Habitación</h6>
                                                <small><i class="fas fa-info-circle text-info"></i> Políticas de cancelación</small>
                                            </div>
                                            <div class="col-md-3">
                                                <span>ROOM ONLY</span> <br>
                                                <small><i class="fas fa-exclamation-circle text-warning"></i>Sujeto a
                                                    disponibilidad</small>
                                            </div>
                                            <div class="col-md-1">
                                                <img src="https://w7.pngwing.com/pngs/741/68/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png"
                                                    height="45" alt="" srcset="">

                                            </div>
                                            <div class="col-md-2">
                                                <h6>$12,000.00MXN</h6>
                                                <small class="text-primary"><s>$30,000.00MXN</s></small>
                                            </div>
                                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                                <input type="submit"
                                                    class="btn btn-sm me-3  btn-outline-secondary rounded-pill"
                                                    value="Reservar"> <i class="fas fa-folder-plus fa-2x text-success"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>