<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-content-center text-primary ms-0">
                        <i class="fas fa-angle-left fa-2x me-2"></i>
                        <h5 class="font-italic my-auto">Confirma los datos de tu vuelo</h5>
                    </div>
                    <div class="row bg-white shadow-sm rounded mb-3 py-2">
                        <div class="col-12 col-sm-12 col-md-12 mb-2 text-primary">
                            <h5>¿Quiénes viajan?</h5>
                        </div>
                        <div class="col-md-12">
                            <span><b>Adulto 1</b></span>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 mb-2">
                            <label for="">
                                Nombre(s)
                            </label>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 mb-2">
                            <label for="">
                                Apellido(s):
                            </label>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="col-12 col-sm-5 col-md-5 mb-2">
                            <label for="">
                                Nacionalidad:
                            </label>
                            <select class="form-select" aria-label="Default select example">
                                <option value="1" selected>One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-7 col-md-7 mb-2">
                            <label for="">
                                Fecha de nacimiento:
                            </label>
                            <div class="d-flex">
                                <select class="form-select" aria-label="Default select example">
                                    <option value="1" selected>One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <select class="form-select" aria-label="Default select example">
                                    <option value="1" selected>One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <select class="form-select" aria-label="Default select example">
                                    <option value="1" selected>One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 mb-2">
                            <label for="">Sexo:</label>
                            <div class="d-flex sexoRadiobutton">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Masculino
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Femenino
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="row bg-white shadow-sm rounded mb-3 py-2">
                        <div class="col-12 col-sm-12 col-md-12 mb-2 text-primary">
                            <h5>¿A dónde enviamos tus vouchers?</h5>
                        </div>
                        <small>El email que elijas será fundamental para que gestiones tu reserva y recibas información
                            importante sobre tu viaje</small>
                        <div class="col-12 col-sm-12 col-md-12 mb-2">
                            <label for="">
                                Correo electrónico:
                            </label>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 mb-2">
                            <label for="">
                                Confirma tu correo electrónico:
                            </label>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="row bg-white shadow-sm rounded mb-3 py-2">
                        <div class="col-12 col-sm-12 col-md-12 mb-2 text-primary">
                            <h5>¿A qué número podemos marcarte?</h5>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 mb-2">
                            <label for="">
                                Teléfono:
                            </label>
                            <input type="text" class="form-control" placeholder="Celular" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 mb-2">
                            <label for="">
                                Codigo de país:
                            </label>
                            <select class="form-select" aria-label="Default select example">
                                <option value="1" selected>One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 mb-2">
                            <label for="">
                                Número:
                            </label>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="row bg-white shadow-sm rounded mb-3 py-2">
                        <div class="col-12 col-sm-12 col-md-12 mb-2 text-primary">
                            <h5>Contacto de emergencia</h5>
                        </div>
                        <small class="">A esta persoan es a quien se contactará en caso de que el
                            pasajero no se pueda contacta y que se necesite informar sobre cambios en el itinerario.
                            Además, de que en casi de alguna emergencia se necesite avisar a alguien durante el
                            viaje</small>
                        <div class="col-12 col-sm-12 col-md-12 mb-2">
                            <label for="">
                                Nombre (s):
                            </label>
                            <input type="text" class="form-control" placeholder="Celular" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 mb-2">
                            <label for="">
                                Apellidos
                            </label>
                            <input type="text" class="form-control" placeholder="Celular" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 mb-2">
                            <label for="">
                                Teléfono:
                            </label>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 mb-2">
                            <label for="">
                                Correo eletrónico:
                            </label>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="d-flex align-content-center text-primary ms-0">
                        <h5 class="font-italic my-auto">Revisa los datos ingresados antes de finalizar</h5>
                    </div>
                    <div class="row bg-white shadow-sm rounded my-3 py-2">
                        <div class="col-md-12 text-primary mb-3">
                            <i class="far fa-calendar" aria-hidden="true"></i> Fecha
                        </div>
                        <div class="datosIngresadospan">
                            <span><b>MID-MEX</b></span>
                            <span>viernes 20 nar 2021, 12:10 hr</span>
                        </div>
                        <div class="datosIngresadospan">
                            <span><b>MID-MEX</b></span>
                            <span>viernes 20 nar 2021, 12:10 hr</span>
                        </div>
                        <hr>
                        <div class="col-md-12 text-primary mb-3">
                            <i class="far fa-user" aria-hidden="true"></i> Pasajeros
                        </div>
                        <div class="datosIngresadospan">
                            <span><b>Adulto 1</b></span>
                            <span>Joel Sánchez</span>
                        </div>
                        <div class="datosIngresadospan">
                            <span><b>Adulto 2</b></span>
                            <span>Joel Sánchez</span>
                        </div>
                        <hr>
                        <div class="col-sm-12 col-md-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Cotizar y pagar después
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                    value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    Crear reservación
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <small class="text-info" style="font-size: 11px;"><i class="fa fa-info-circle"
                                    aria-hidden="true"></i> Se realizará el pago, y se generará la reserva con su ID y
                                emitirá el boleto de la reservación</small>
                        </div>
                        <div class="col-12 col-md-12 col-sm-12 my-2 text-center">
                            <input type="submit" value="Pagar" class="btn btn-outline-success rounded-pill px-5 mx-2">
                            <input type="submit" value="Cobrar crédito"
                                class="btn btn-outline-primary rounded-pill px-5 mx-2">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detallesFlotante py-2">
                        <div class="d-flex align-content-center justify-content-between text-primary ms-0 mb-2">
                            <h5 class="font-italic my-auto">Detalles de pago</h5>
                            <span class="bg-primary px-3 text-white rounded-pill">00:00 min</span>
                        </div>
                        <div class="card w-100">
                            <div class="card-body p-2">
                                <div class="d-flex justify-content-between">
                                    <small>Vuelo para 2 adultos</small>
                                    <small>MXN $8,500</small>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <small>Impuestos, tasas y cargos <i class="fa fa-info-circle text-info"
                                            aria-hidden="true"></i></small>
                                    <small>MXN $8,500</small>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <small>Tarifas de uso de aereopuerto <i class="fa fa-info-circle text-info"
                                            aria-hidden="true"></i></small>
                                    <small>MXN $8,500</small>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <small>Total de la compra</small>
                                    <h4 class="">$8,500 <small class="text-primary">MXN</small> </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-content-center justify-content-between text-primary ms-0 my-3">
                        <h5 class="font-italic my-auto">Detalles de la compra</h5>
                    </div>
                    <div class="card w-100 mb-3">
                        <div class="card-body p-2">
                            <div class="col-12 col-sm-12 col-md-12 mb-2 d-flex">
                                <h5 class="text-primary me-2"><i class="fa fa-plane" aria-hidden="true"></i> Cuidad de
                                    México - Mérida</h5>
                                <span>Ida (2 adultos)</span>
                            </div>
                            <small>Salida</small> <br>
                            <span class="text-warning">20 may 2022</span> <br>
                            <div class="col-md-12 d-flex justify-content-between my-3">
                                <i class="fas fa-plane-departure fa-2x"></i>
                                <h5 class="text-primary ">Volaris</h5>
                                <span>12:10</span>
                                <span class="text-decoration-underline">DIRECTO</span>
                                <span>12:10</span>
                                <div class="my-auto">
                                    <span class="mb-2 d-block text-decoration-underline">Duración</span>
                                    <span>1h 50m</span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 mb-2">
                                <span>Este vuelo incluye solamente equipaje de mano <i
                                        class="fa fa-info-circle text-info ms-2" aria-hidden="true"></i></span>
                            </div>
                            <hr>
                            <div class="col-12 col-sm-12 col-md-12 mb-2 d-flex">
                                <h5 class="text-primary me-2"><i class="fa fa-plane" aria-hidden="true"></i> Cuidad de
                                    México - Mérida</h5>
                                <span>Vuelta (2 adultos)</span>
                            </div>
                            <small>Regreso</small> <br>
                            <span class="text-warning">20 may 2022</span> <br>
                            <div class="col-md-12 d-flex justify-content-between my-3">
                                <i class="fas fa-plane-departure fa-2x"></i>
                                <h5 class="text-primary ">Volaris</h5>
                                <span>12:10</span>
                                <span class="text-decoration-underline">DIRECTO</span>
                                <span>12:10</span>
                                <div class="my-auto">
                                    <span class="mb-2 d-block text-decoration-underline">Duración</span>
                                    <span>1h 50m</span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 mb-2">
                                <span>Este vuelo incluye solamente equipaje de mano <i
                                        class="fa fa-info-circle text-info ms-2" aria-hidden="true"></i></span>
                            </div>
                            <hr>
                            <div>
                                <small class="text-primary">Políticas de cambio y cancelación</small>
                                <div class="row">
                                    <div class="col-md-3">Cambios</div>
                                    <div class="col-md-3"><i class="fas fa-times"></i> No se permite</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">Cancelación</div>
                                    <div class="col-md-3"><i class="fas fa-times"></i> No se permite</div>
                                </div>
                                <small><b>VER POLITICAS DE CAMBIO Y CANCELACIÓN</b> <i
                                        class="fa fa-info-circle text-info ms-2" aria-hidden="true"></i></small>
                            </div>
                        </div>
                    </div>
                    <div class="card w-100 p-2">
                        <div class="card-body p-2 text-primary">
                            <h5><i class="fa fa-paper-plane" aria-hidden="true"></i> ¿Qué incluye tu tarifa báscia?</h5>
                        </div>
                        <div class="mb-3">
                            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta doloremque quo quos sint beatae est labore cumque incidunt, odio necessitatibus rem nesciunt ipsam dolores officiis dicta vero. Similique, atque ut!</span>
                        </div>
                        <div class="text-center mb-3">
                            <button class="btn btn-outline-primary rounded-pill">¿Te gustaría cambiar tu tarifa?</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>